<div class="container" data-controller="refresh-list">
  <div class="row mt-4">
    <%= form_with url: restaurants_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form' } } do |f| %>
    <%= f.text_field :query,
                     class: "form-control",
                     placeholder: 'Type a restaurant title',
                     value: params[:query],
                     data: {
                      refresh_list_target: 'searchInput',
                      action: "keyup->refresh-list#update"
                    } %>
  <% end %>
  </div>
  <%= render 'list', restaurants: @restaurants %>

</div>
